<!DOCTYPE html>
<html>

<head>
  <title>Edit Review</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  <h1>Edit Review</h1>
  <form action="/books/<%= book.id %>" method="POST">
    <label for="review">Review:</label>
    <textarea id="review" name="review" required><%= book.review %></textarea><br>
    <div class="btn-container">
        <button type="submit">Save</button>
    </div>
  </form>
</body>
</html>
